.input_panel {
  display: flex;
  flex-direction: column;
  width: 100%;

  .first {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button_label {
      align-items: center;
      h1 {
        margin-block: auto;
        font-size: 80px;
        font-family: Cubano, monospace;
        text-transform: uppercase;
        transition: font-size 300ms ease-in-out;
        display: block;
        width: max-content;
      }
    }

    @media screen and (max-width: 1250px) {
      .button_label {
        h1 {
          display: none;
        }
      }
    }

    // @media screen and (max-width: 400px) {
    //   .button_label {
    //     h1 {
    //       font-size: 0px;
    //     }
    //   }
    // }
  }

  .second {
    align-items: start;
  }
}
